#ratio {
    font: bold 24px monospace;
}

.type1 {
    fill: #3333ff;
}

.type2 {
    fill: #e67300;
}

.type1_update {
    fill: #3333ff;
}

.type2_update {
    fill: #e67300;
}

.enter {
    fill: green;
}

.exit {
    fill: brown;
}

.container {
    fill: none;
    stroke: black;
    stroke-width: 1;
}

.start {
    display: block;
    height: 100px;
    width: 300px;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
}